/*--------------------------------------------All---------------------------------------------------------------------*/
:root {
	--primary-color: #e50914;
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    /*-background-color: #141414;-*/
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: white;
	margin: 0;
    padding: 0;
    width: 100%;
	height: 100vh;
	position: relative;
	background: url(/media/sad.jpg) no-repeat center center/cover;
	box-shadow: inset 220px 200px 350px #000000, inset -20px -50px 350px #000000;
}

#clock {
    width: 100%;
    position: absolute;
    font-size: 20px;
    color: gray;
}


/*--------------------------------------------Navbar(new)-------------------------------------------------------------*/


.showcase {
	height: 100vh;
	position: absolute;
	/*-background: url(/media/bz.jpg) no-repeat center center/cover;
	   background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover; -*/
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.showcase-top {
	position: relative;
	z-index: 2;
	height: 90px;
}

.showcase-top img {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 0;
	padding-top: .5rem;
}

.showcase-top a  {
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    color: #fff;
    font-size: 100%;
    float: right;
    margin-top: .5rem;
}

.showcase-top a btn{
    display: inline-block;
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	border-radius: 2px;
}

.showcase-content {
	position: relative;
	z-index: 2;
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
}

.showcase-content h1 {
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

.showcase-content p {
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 1.9rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}

#sidebar {
  position:absolute;
  top:0px;
  left:-200px;
  width:200px;
  height:100%;
  transition:all 300ms linear;
}

#sidebar.active {
  left:0px;
}

#sidebar .toggle-btn {
  position:absolute;
  left:220px;
  top:10px;
}

#sidebar .toggle-btn span {
  display:block;
  width:30px;
  height:5px;
  background:red;
  margin:5px 0px;
  cursor:pointer;
}

#sidebar div.list div.item {
  padding:15px 10px;
  color:#fcfcfc;
  text-transform:uppercase;
  font-size:15px;
}

.item a {
    color:#fcfcfc;
}

.btn {
	display: inline-block;
	color: #fff;
	padding: 0.4rem 1.3rem;
/*-	font-size: 1rem;--*/
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
	background-color: #dc3545;
    border-color: #dc3545;
}

.btn-xl {
	font-size: 2rem;
	padding: 1.5rem 2.1rem;
	text-transform: uppercase;
}

.btn-lg {
	font-size: 1em;
	color: #fff;
    border-radius: .25rem;
	padding:7px 17px;
	text-transform: uppercase;
	background-color: #dc3545;
    border-color: #dc3545;
}


/*--------------------------------------------All_Movies--------------------------------------------------------------*/


#mainWrap {
    width: 1000px;
    margin: 0 auto 150px;
    overflow: visible;
    clear: both;
    background:#111111;
    position: relative;
    top: 106px;
    background-color: #111111;
	border: solid 1px #5862b6;
	border-radius: 15px;
}
.alert {
    font-size: 24px;
    text-align: center;
}

#profilHead {
    width: 100%;
}

#sideLeft {
    width: 930px;
    font-size:35px;
}

#sideRight{
    float: right;
}

.menuWrap {
    width: 300px;
    margin-right: 16px;
    /*-padding: 8px 3px 20px 7px;-----*/
    overflow: auto;
    background: #111;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.list-group {
    color: #818181;
    list-style-type: none;
    height: 10px;
    line-height: 12px;
    padding-left: 6px;
    display: inline-table;
    width: 50%;
}

.menuWraps {
    padding: 10px 0 0 8px;
}

#movies-list-item {
    min-height: 90px;
    overflow: hidden;
    position: relative;
    border-bottom: 6px solid #111;
    background-color: #222222;
    margin-bottom: 10px;
}

.photo {
    width: 95px;
    float: right;
}

.photo a img, .photo img {
    width: 103px;
    height: 125px;
    cursor: pointer;
}

.tytul a {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    float: left;
}

.photo a {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

.info {
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    padding: 60px 3px 20px 7px;
    color: #aaa;
}

@media (max-width: 960px) {
    #sideLeft p{
       font-size: 2.6rem;
	   margin-bottom: 1rem;
	   position: absolute;
	   top: 0;
    }
    #sideRight{
     position: absolute;
     top: 50px;
    }
    .menuWrap{
     top: 52px;
    }
    .alert {
    font-size: 14px;
    }

}

@media (max-width: 768px){
    .menuWraps {
      max-width: 45%;
      top: 26px;
    }
    .tytul a{
     font-size: 1.9rem;
    }
}


/*--------------------------------------------All_Directors-----------------------------------------------------------*/


#sideLeftDirectors {
    width: 940px;
    font-size:35px;
}

.menuWrapDirector {
    width: 800px;
    margin-right: 20px;
    margin-left: 80px;
    padding: 8px 3px 20px 7px;
    overflow: auto;
    color: #aaa;
    font-size: 12px;
}

#director-list-item {
    min-height: 90px;
    overflow: hidden;
    position: relative;
    border-bottom: 6px solid #111;
    background-color: #222222;
    margin-bottom: 10px;
}

.photo-director {
    width: 95px;
    float: right;
}

.photo-director a img, .photo img {
    width: 109px;
    height: 120px;
}

.tytul-director {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    float: left;
}

.info-director {
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    padding: 60px 3px 20px 7px;
}

@media (max-width: 960px) {
    #sideLeftDirectors p{
       font-size: 2.6rem;
	   margin-bottom: 1rem;
	   position: absolute;
	   top: 0;
    }
    #sideRight{
     position: absolute;
     top: 40px;
    }
    #director-list-item{
     max-width: 50%;
    }
    #mainWrap{
    width: 500px;
    }
}


/*--------------------------------------------TopTen------------------------------------------------------------------*/

.Top{
    width: 1000px;
    margin: 0 auto 150px;
    overflow: visible;
    clear: both;
    background:#111111;
    position: relative;
    top: 106px;
    border: solid 1px #5862b6;
	border-radius: 15px;
}

.naglowek p{
    padding-top:15px;
    height:70px;
    font-size:45px;
    text-align: center;
    color: white;
}

.naglowek img{
    width: 300px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 0;
	padding-top: .5rem;
}

.menuWrapTop{
    padding: 10px 0 0 8px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: auto;
    font-size: 15px;
}

.top-list-item {
    min-height: 90px;
    overflow: hidden;
    position: relative;
    border-bottom: 6px solid #111;
    background-color: #222222;
    margin-bottom: 10px;
}

.photo-top a img{
    width: 103px;
    height: 125px;
}

.photo-top a img, .tytul-top{
    float: left;
}

.tytul-top a {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 15px;
}

.tytul-top p {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    padding: 15px;
    color: #aaa;
}

.info_list{
    float: right;
    padding: 10px;
    text-algin: center;
    width: 130px;
    height: 100px;
    margin-left: 5px;
}

#gwiazdka {
    color: #FFFF00;
}

#plus {
    color: white;
}

@media (max-width: 999px) {
    .Top{
    width: 500px;
    }

    .naglowek p{
       font-size: 2.6rem;
	   margin-bottom: 1rem;
	   top: 0;
	   text-algin: center
    }
    .top-list-item a{
     font-size: 1.2rem;
	 margin-bottom: 1rem;
    }
    .info_list {
    font-size: 1.1rem;
    }

}


/*--------------------------------------------Stopka------------------------------------------------------------------*/


.footer {
    text-align: center;
    position:absolute;
	bottom:0;
	width:100%;
	weight:60px;
	color: white;
}


.footer .p-3 {
    background-color: rgba(0, 0, 0, 0.6)
}


/*--------------------------------------------New / Edit Movie/Directors----------------------------------------------*/

.container {
    width: 800px;
    -webkit-box-shadow: -2px 8px 36px 22px rgba(0,0,0,0.90);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.banner-section {
    background-color: #111111;
    padding-top: 30px;
    padding-bottom: 30px;
	border: solid 1px #5862b6;
	border-radius: 25px;
	text-align: center;
}


/*--------------------------------------------Delete Movies-----------------------------------------------------------*/

#zdjDelete img {
    width: 300px;
    height: 400px;
}


/*--------------------------------------------DirectorsDetail---------------------------------------------------------*/

.container{
    padding:25px;
}
.containeDirectors {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #111111 ; no-repeat top center;
	padding: 10px;
	-webkit-box-shadow: -2px 8px 36px 22px rgba(0,0,0,0.90);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.background-color-contentDirector h1 {
    font-size: 40px;
}

.listaDirector li {
    text-align: center;
    padding: 50px;
}

.MR {
    border-top: 1px solid red;
}


/*--------------------------------------------Register----------------------------------------------------------------*/


.container-fluidRegister {
    width: 1000px;
	margin-left: auto;
	margin-right: auto;
    border:0px solid #fff;
    padding:40px 10px;
    -webkit-box-shadow: -2px 8px 36px 22px rgba(0,0,0,0.90);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#Register {
    color: #fff;
}



.zdj_register img {
    width: 300px;
    padding-bottom: 30px;
}

@media (max-width: 999px) {
   .container-fluidRegister{
     width: 500px;
     top: 30%;
     margin-left: auto;
     margin-right: auto;
     transform: translate(0);
     padding:20px 25px;

   }
}


/*--------------------------------------------Login-------------------------------------------------------------------*/


.container-fluidLogin {
    width: 1000px;
    position:relative;
    top: 70px;
	margin-left: auto;
	margin-right: auto;
    border:0px solid #fff;
    padding:40px 50px;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

#Login {
    color: #fff;
}

.fb-login{
    color: #0080ff;
    cursor: pointer;
}

.zdjLogin img {
    width: 300px;
    padding-bottom: 35px;
}

@media (max-width: 999px) {
   .container-fluidLogin{
     width: 500px;
     top: 30%;
     margin-left: auto;
     margin-right: auto;
     transform: translate(0);
     padding:20px 25px;

   }
}


