
			<div class="showcase-top">
				<div id="sidebar">
					<div class="toggle-btn" onclick="toggleSidebar(this)">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="list">
						<div class="item" >
							<a href="{% url 'AllMovies' %}" class="btn btn-danger btn-xl">Filmy</a>
						</div>
						<div class="item">
							<a href="{% url 'AllDirectors' %}" class="btn btn-danger btn-xl">Reżyserowie</a>
						</div>
						<div class="item">
							<a href="{% url 'TopTen' %}" class="btn btn-danger btn-xl">Top10</a>
						</div>
					{% if user.is_authenticated %}
						<div class="item">
							<a href="{% url 'New_Movie' %}" class="btn btn-danger btn-xl">Dodaj Film</a>
						</div>
						<div class="item">
							<a href="{% url 'New_Directors' %}" class="btn btn-danger btn-xl">Dodaj Reżysera</a>
						</div>
						{% if user.profile.pk %}
							<div class="item">
								<a href="{% url 'MyWebsiteUsers:profile_page' user.profile.pk %}" class="btn btn-danger"> Profil</a>
							</div>
						{% else %}
							<div class="item">
								<a href="{% url 'MyWebsiteUsers:create_profile_page' %}" class="btn btn-danger ">Stwórz Profil</a>
							</div>
						{% endif %}
						<div class="item">
                        <a href="{% url 'MyWebsiteUsers:edit_profile' %}" class="btn btn-danger ">Edycja ustawień</a>
                    </div>
					{% endif %}
				  </div>
				</div>
				<a href="{% url 'Home' %}"><img src="/media/logo.png" alt=""></a>
                {% if user.is_authenticated %}
                  <a href="{% url 'MyWebsiteUsers:logout' %}" class="btn btn-danger ">Wyloguj</a>
                  {% else %}
                  <a href="{% url 'MyWebsiteUsers:login' %}" class="btn btn-danger ">Zaloguj</a>
				  <a href="{% url 'MyWebsiteUsers:register' %}" class="btn btn-danger">Rejestracja</a>
                  {% endif %}
			</div>