{% extends 'main.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}
<title>Confirm</title>
{% endblock %}

{% block content %}


    <div class="container banner-section">
        <h2>Czy napewno usunąć film "{{movie.name}}" ? </h2>
        <hr class="MR">
        <div id="zdjDelete">
            <a href="{%  url 'movie_detail' movie.id %}"><img src="{{ movie.photo.url }}" ></a>
        </div>
        <form method="post">
            {% csrf_token %}
            <hr class="MR">
        <div class="col-md-6">
            <button type="submit" class="btn btn-lg btn-light">Tak
                <i class="fas fa-check"></i></button>
        </div>
        </form>
        <div class="col-md-6 ">
            <button type="submit" class="btn btn-lg btn-light"><a href="{% url 'movie_detail' movie.pk  %}">Cofnij
                <i class="fas fa-undo"></i></a></button>
        </div>
    </div>

{% endblock %}


