
{% load static %}
{% load bootstrap %}
{% block title %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Movie Data | Moja Biblioteka Filmowa</title>

{% endblock %}
{% block body %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href=https://use.fontawesome.com/releases/v5.1.0/css/all.css>
    <link rel="stylesheet" type="text/css" href="{% static 'css/second_main.css' %}">
</head>





<body>
        <section id="banner">
            <div class="container banner-section">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 main-one">
                            <div class="plakat">
                                <span>
                                    <img src="{{ post.photo.url }}" style="width:226px; height:290px">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12 body-menu">
                            <h1 class="tytul">{{ post.name }}</h1>
                            <h2 class="tytul">"{{ post.ang_name }}"</h2>
                            <span class="Info"> Informacje</span>
                            <div class="MoreInfo">{{ post.description }}</div>
                            <div class="infoContent">
                                Dodany przez: {{post.author.username}}</div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 reszta">
                            <h2><b>Reżyser</b></h2>
                            <a href="{% url 'DirectorsDetail' post.film_director.id %}">{{ post.film_director }}</a>
                            <hr class="MR">
                            <h2><b>Gatunek</b></h2>
                            {% for category in post.categories.all %}
                            <h5>{{ category.name }}</h5>
                            {% endfor %}
                            <hr class="MR">
                            <h2><b>Premiera światowa
                                <h5>{{ post.year }}</h5>
                            </b></h2>
                            <hr class="MR">
                            <h2><b>Data publikacji
                                <h5>{{ post.released }}</h5>
                            </b></h2>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2><b>Zwiastun</b></h2>
                        {% if user.is_authenticated %}
                        <div class="playVideo">
                            <video width='675' height="385" controls>
                                <source src="{{ post.clip_movie.url }}" type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        {% else %}
                        <h1>Aby obejrzeć zwiastun proszę się zalogować / zarejestrować!</h1>
                        {% endif %}
                    </div>
                    <div class="col-md-3" style="margin-top:200px; padding: 40px;">
                        <i class="fas fa-2x fa-star" id="star"> 5.8 </i>
                        <div class="info text-muted" >
                            186 Głosów
                        </div>
                        <i class="fas fa-2x fa-heart" id="heart"> 44 </i><br>
                        <div class="info text-muted" >
                            113 Serduszek
                        </div>
                        <i class="fas fa-2x fa-thumbs-up" id="like"> 12</i>
                        <div class="info text-muted" >
                            14 Like
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}

                            <div class="col-md-4" style="margin-top:30px;">
                                <a href="{% url 'Edit_Movie' post.pk %}"><i class="fas fa-2x fa-edit"></i>Edytuj </a>
                            </div>
                            <div class="col-md-4" style="margin-top:30px;">
                                <a href="{% url 'Delete_Movie' post.pk %}"><i class="fas fa-2x fa-trash-alt"></i> Usuń </a>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="col-md-4" style="margin-top:30px;">
                        <button type="submit" class="btn btn-lg btn-warning"><a href="{% url 'AllMovies' %}">Cofnij
                            <i class="fas fa-undo"></i></a></button>
                    </div>
            </div>
                <div class="CommentsBlock">
                    <div id="addComment" class="addComment">
                        {% if user.is_authenticated %}
                            <h2>Zostaw komentarz:</h2>
                            <form action="/{{ post.pk }}/" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.author}}
                                </div>
                                <div class="form-group">
                                    {{ form.body }}
                                </div>
                                <h2>Oceń:</h2>
                                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">
                                    {{ form.ratings }}</label>
                                <button type="submit" class="btn btn-danger">Zatwierdź <i class="fas fa-check"></i></button>
                            </form>
                        {% else %}
                                    <p style="font-size:14px;color:#565656;font-weight:bold;">
                        <h1>Aby dodać komentarz proszę się zalogować / zarejestrować!</h1></p>
                        {% endif %}
                    </div>
                    <div class="margin-top:11px;" id="comment-list">
                        {% for comment in comments %}
                        <hr class="MR">
                         <div class="comenting">
                             <p>{{ comment.body  }}{{ form.media }}</p>

                             <i class="fas fa fa-star" id="stars"></i>
                                 {{ comment.ratings }}/10
                             <div class="info" >
                                     Dodany dnia: {{comment.created_on.date }}<br>
                                przez: <img src="/media/no_avatar.jpg" width="20" height="17" class="rounded-circle"><b> {{ comment.author }} | {{ comment.author.email }}</b>
                                     {% if user.id == comment.author.id %}
                                        <a href="{% url 'Delete_comment' comment.pk  %}"> Usuń </a>
                                     {% endif %}
                                 {% endfor %}
                             </div>
                         </div>
                    </div>
                </div>
        </section>
        <hr>
        <footer>
                  <div class="text-center p-3 text-light">
                    © 2020 Copyright Wszelkie prawa zastrzeżone
                    <a class="text-light" href="{% url 'Home' %}"><br> Moja Biblioteka Filmowa</a>
                  </div>
        </footer>


    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script>
                    var name = "{{ user.id }}";
                    document.getElementById("admin").value = name;
    </script>
</body>
</html>

{% endblock body  %}
