{% extends 'main_two.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}
    <title>More Movie Data | Moja Biblioteka Filmowa</title>
{% endblock %}

{% block content %}


        <section id="banner">
            <div class="container banner-section">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 main-one">
                            <div class="plakat">
                                <span>
                                    <img src="{{ post.photo.url }}" style="width:226px; height:290px">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12 body-menu">
                            <h1 class="tytul">{{ post.name }}</h1>
                            <h2 class="tytul">"{{ post.ang_name }}"</h2>
                            <span class="Info"> Informacje</span>
                            <div class="MoreInfo">{{ post.description }}</div>
                            <div class="infoContent">
                                Dodany przez: {{post.author.username}}</div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 reszta">
                            <h2><b>Reżyser</b></h2>
                            <a href="{% url 'DirectorsDetail' post.film_director.id %}">{{ post.film_director }}</a>
                            <hr class="MR">
                            <h2><b>Gatunek</b></h2>
                            {% for category in post.categories.all %}
                            <h5>{{ category.name }}</h5>
                            {% endfor %}
                            <hr class="MR">
                            <h2><b>Premiera światowa
                                <h5>{{ post.year }}</h5>
                            </b></h2>
                            <hr class="MR">
                            <h2><b>Data publikacji
                                <h5>{{ post.released }}</h5>
                            </b></h2>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2><b>Zwiastun</b></h2>
                        {% if user.is_authenticated %}
                        <div class="playVideo">
                            <video width="640" height="360" controls>
                                <source src="{{ post.clip_movie.url }}" type='video/mp4'>
                            </video>
                        </div>
                        {% else %}
                        <h1>Aby obejrzeć zwiastun proszę się zalogować / zarejestrować!</h1>
                        {% endif %}
                    </div>
                    <div class="col-md-3 col-sm-12 ">
                        <h2><b>Polubienia</b></h2>
                        <hr class="MR">
                        <form action="{% url 'like_movie' post.pk %}" method="POST" class="ui form">
                            <input type="hidden" name="movie_id" value="{{ post.id }}">
                            {% csrf_token %}
                            {% if user not in post.likes.all %}
                                <button type="submit" class="btn-lg" ><i class="fas fa-2x fa-thumbs-up"></i> </button>
                            {% else %}
                                <button type="submit" class="btn-lg"><i class="fas fa-2x fa-thumbs-down"></i> </button>
                            {% endif %}
                            <strong class="text-secondary">{{ post.likes.all.count}} lajki</strong>
		                </form>
                    </div>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}

                            <div class="col-md-4" style="margin-top:30px;">
                                <a href="{% url 'Edit_Movie' post.pk %}"><i class="fas fa-2x fa-edit"></i>Edytuj </a>
                            </div>
                            <div class="col-md-4" style="margin-top:30px;">
                                <a href="{% url 'Delete_Movie' post.pk %}"><i class="fas fa-2x fa-trash-alt"></i> Usuń </a>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="col-md-4" style="margin-top:30px;">
                        <button type="submit" class="btn btn-lg btn-warning"><a href="{% url 'AllMovies' %}">Cofnij
                            <i class="fas fa-undo"></i></a></button>
                    </div>
            </div>
            <div class="CommentsBlock">
                    <div id="addComment" class="addComment">
                        {% if user.is_authenticated %}
                            <h2>Zostaw komentarz:</h2>
                            <form action="/{{ post.pk }}/" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.author}}
                                </div>
                                <div class="form-group">
                                    {{ form.body }}
                                </div>
                                <h2>Oceń:</h2>
                                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">
                                    {{ form.ratings }}</label>
                                <button type="submit" class="btn btn-danger">Zatwierdź <i class="fas fa-check"></i></button>
                            </form>
                        {% else %}
                                    <p style="font-size:14px;color:#565656;font-weight:bold;">
                        <h1>Aby dodać komentarz proszę się zalogować / zarejestrować!</h1></p>
                        {% endif %}
                    </div>
                    <div class="margin-top:11px;" id="comment-list">
                        {% for comment in comments %}
                        <hr class="MR">
                         <div class="comenting">
                             <p>{{ comment.body  }}{{ form.media }}</p>

                             <i class="fas fa fa-star" id="stars"></i>
                                 {{ comment.ratings }}/10
                             <div class="info" >
                                     Dodany dnia: {{comment.created_on.date }}<br>
                                przez: <img src="/media/no_avatar.jpg" width="20" height="17" class="rounded-circle"><b> {{ comment.author }} | {{ comment.author.email }}</b>
                                     {% if user.id == comment.author.id %}
                                        <a href="{% url 'Delete_comment' comment.pk  %}"> Usuń </a>
                                     {% endif %}
                                 {% endfor %}
                             </div>
                         </div>
                    </div>
            </div>
        </section>
        <footer class="footer">
            <div class="bg-dark text-lg-start">
                <div class="p-3 text-light">
                    © 2020 Copyright Wszelkie prawa zastrzeżone
                    <a class="text-light" href="{% url 'Home' %}"><br> Moja Biblioteka Filmowa</a>
                </div>
            </div>
        </footer>

{% endblock  %}


