{% extends 'main.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}
<title>Top Ten | Moja Biblioteka Filmowa</title>
{% endblock %}


{% block content %}

{% if user.is_authenticated %}

            {% if not comments.all %}
            <div class="naglowek" >
                <br><br><br><br>
                <p>Brak ocenionych filmów!</p>
                <a href="{% url 'AllMovies' %}"><p>Dodaj <i class="fas fa-plus" id="plus"></i></p></a>
            </div>
            {% else %}
    <div class="Top">
            <div class="naglowek" >
                <p>Ranking Filmów</p>
            </div>
            <div class="menuWrapTop">
                {% for comment in comments %}
                <div class="top-list-item ">
                        <div class="photo-top">
                           <a href="{% url 'movie_detail' comment.post.pk%}"><img src="{{ comment.post.photo.url }}"></a>
                        </div>
                        <div class="tytul-top" >
                            <a href="{% url 'movie_detail' comment.post.pk%}">"{{ comment.post }}"</a>
                            <p>{{comment.post.year}}</p></br></br>

                            {% for post in movies %}
                                <strong class="text-secondary">{{ post.likes.all.count}} polubień</strong>
                            {% endfor %}

                        </div>
                        <div class="info_list">
                            <i class="fas fa-2x fa-star" id="gwiazdka" ></i>
                                {{ comment.ratings }} / 10</br>
                           <a class="text-muted"> Oceniony dnia:</br>{{ comment.created_on|date:'d-m-Y' }}</br>
                               przez:</a> {{ comment.author }}
                        </div>
                </div>
               {% endfor %}
            {% endif %}
           </div>
    </div>
{% else %}
    <div class="naglowek" >
        <p>Dostęp do tej strony jest jedynie możliwy po zalogowaniu / zarejestrowaniu się!</p>
        <img src="/media/ace.png" alt="">
    </div>
{% endif %}
{% endblock %}


