{% extends 'main.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}
<title>Top Ten | Private Movie Library</title>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}


    <header>
        <main>
            <section class="top-ten">
                <div class="container">
                    <header>
                        <h3>Ranking</h3>
                        <p class="top"><i class="fas fa-2x fa-star" id="fas"></i> Oto lista najlepiej ocenianych filmów przez fanów kina w 2019 roku
                            <i class="fas fa-2x fa-star" id="fas"></i></p>
                    </header>
                    {% if not comments.all %}
                        <h1>Brak ocenionych filmów!</h1>

                        <a href="#"><h2>Dodasz ?</h2></a>

                    <div class="row">
                        {% else %}
                            {% for comment in comments %}
                            <div class="col-sm-6 col-md-5 offset-md-1 ">
                                <p class="top"></p>
                                <a href="#"><img src="{{ comment.post.photo.url }}" width="300" height="465" ></a>
                                <p class="top"></p>
                                        <h1> "{{ comment.post }}"</h1>
                                            <i class="fas fa-2x fa-star" id="fas"></i>
                                            {{ comment.ratings }} / 10
                                            <i class="fas fa-2x fa-star" id="fas"></i></br>
                                            Oceniony dnia: {{comment.created_on }}</br>
                                            przez: <b>{{ comment.author }} </b>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>
        </main>
    </header>
{% else %}
    <h1>Dostęp do tej strony jest jedynie możliwy po zalogowaniu / zarejestrowaniu się!</h1>
{% endif %}
{% endblock %}
