{% extends 'main.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}
<title>Save Profile Page</title>
{% endblock %}

{% block content %}


    <div class="container banner-section">
        <h1>Utwórz Stronę Profil</h1>
        <hr class="MR">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|bootstrap }}
            <hr class="MR">
        <div class="col-md-6 ">
            <button type="submit" class="btn btn-lg  btn-light">Zapisz
                <i class="fas fa-save"></i></button>
        </div>
        </form>
        <div class="col-md-6 ">
            <button type="submit" class="btn btn-lg btn-light"><a href="{% url 'AllMovies' %}">Cofnij
                <i class="fas fa-undo"></i></a></button>
        </div>
    </div>

{% endblock %}


